<html ng-app="todoApp">
	<head>
		<title>Todo App</title>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="styles/styles.css" /> 
	</head>
	<body ng-controller="mainController" ng-init="init()" class="ng-cloak">
	<header>
		<nav class="navbar navbar-default navbar-fixed-top"><div class="navbar-brand">TODO App</div>
				<div class="container reduce-height">
				<div class = "text-center">
					<form name="addItemForm" class="formElement" ng-submit="addItem(itemToInsert);itemToInsert=''">
					<input type="text" name="itemToInsert" ng-maxlength="140" ng-model="itemToInsert" /><button type="submit" class="btn btn-primary add-margin" ng-disabled="itemToInsert.length == 0 || addItemForm.itemToInsert.$error.maxlength">Add Item</button><span class="add-margin" ng-show="items.length>0">
						<button class="btn btn-danger" ng-disabled="itemsDone.length==0" ng-click="itemsCompleted()">Remove Completed</span>
					</div>
					</form></div></div>
		</nav>
	</header>
						<div class="list" ng-show="items.length>0">
							<ul class="todoList">
							<div class="lines"></div>
								<li ng-repeat="item in items | orderBy:'createdDate':true">
									<div class="checkItem">
										<input id="checkItemForInput+{{$index}}" type="checkbox" ng-model="item.done" ng-change="toggleDone(item)" />
										<label for="checkItemForInput+{{$index}}"></label>
										<div class="todoText" ng-class="{'strikethrough':item.done,'strikethroughDone':!item.done}">{{item.text}}</div>
									</div>
									<a class="delete" ng-click="deleteItem(item)">X</a>	
								</li>					
							</ul>
						</div>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script src="components/main.js"></script>
	</body>
</html>